/*CSS reset begin*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a:visited, a:hover, a:focus{
	text-decoration: none;
}
/*CSS reset end*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

body{
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.L-wrapper__content{
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-width: 320px;
}
	.m-wrapper__content-textCenter{
		text-align: center;
	}
.L-wrapper__site{
	max-width: 1500px;
	margin: 0 auto;
	min-width: 320px;
}

/******************Хеадер**********************/
.b-header{
	background: #fff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	position: fixed;
	z-index: 999;
	-webkit-box-shadow: 0px 0px 10px rgba(124, 124, 124, .5);
	        box-shadow: 0px 0px 10px rgba(124, 124, 124, .5);
	height: 75px;
	padding: 10px 0;
	box-sizing: border-box;
}	
	.b-header__content{
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding: 0 10px;
		position: relative;

	}
	.b-header__logo__img{
		width: 200px;
		height: 50px;
		background: url("data:image/svg+xml;utf8,<svg id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 54'><path d='M74.6 23.7c-.7-.5-1.8-1.1-2.9-1.4-1.6-.5-3.8-.5-5.4 0l-.8.2V16c0-1-.7-1.8-1.7-1.8H62c-1 0-2 .8-2 1.8l-.1 22.3c0 1 .9 1.7 1.9 1.8h1.8c1 0 1.7-.8 1.7-1.7v-9.9c0-.2.2-.3.3-.4.6-.2 2.6-.8 3.2-.8.7 0 1.4.3 2 .7.9.6 1.4 1.7 1.4 2.8v7.6c0 1 .9 1.7 1.9 1.8h1.8c1 0 1.7-.8 1.7-1.7v-7.6c.3-3.1-.5-5.4-3-7.2zM124.1 23.8c-.7-.5-1.7-1.1-2.8-1.4-1.5-.4-3.4-.4-4.5 0l-3.3 1c-.5-.4-1.4-.8-2.3-1-1.6-.5-3.3-.5-4.9 0l-.7.2-4.3 1.4c-.7.2-1.2.9-1.2 1.7v12.7c0 1 .8 1.7 1.8 1.8h1.8c1 0 1.8-.8 1.8-1.7v-9.9c0-.2.1-.3.3-.4.6-.2 2.1-.8 2.6-.8 1.5 0 2.5 1.2 2.6 2.2v8.9c0 1 .8 1.8 1.8 1.8h1.8c1 0 1.8-.8 1.8-1.8V28.3c0-.2.1-.3.3-.4.6-.2 1.3-.4 1.7-.4.7 0 1.4.3 2 .7.9.6 1.5 1.7 1.5 2.8v7.6c0 1 .8 1.8 1.8 1.8h1.8c1 0 1.9-.8 1.9-1.8V31c0-3-.9-5.4-3.3-7.2zM187.7 22.2c-.9 0-1.8.1-2.6.4l-.7.2-4.4 1.6c-.7.3-1.2.9-1.2 1.6v12.6c0 1 .9 1.8 1.9 1.8h1.8c1 0 1.7-.8 1.7-1.8v-9.9c0-.2.2-.3.3-.4.6-.2 2.2-.8 2.7-.8.8 0 1.6.2 2.3.5.9.4 2-.1 2.4-1l.7-1.7c.4-.9-.1-1.9-1-2.2-1-.5-2.3-.8-3.9-.9zM89 21.8c-6 0-9.3 4.5-9.3 9.2 0 4.7 3.2 9.2 9.2 9.3s9.3-4.6 9.3-9.2-3.1-9.3-9.2-9.3zm0 13.1c-2.4 0-3.8-1.7-3.8-3.9 0-2.1 1.5-3.9 3.8-3.9s3.8 1.7 3.8 3.9-1.4 3.9-3.8 3.9zM158.3 36c-.3-.8-1.3-1.3-2.2-1.1-1.2.3-2.5.2-3.1 0-1-.5-1-1.3-1-1.3v-6.5h2.4c1 0 1.8-.7 1.8-1.7v-1.8c0-1-.8-1.8-1.8-1.8H152v-4c0-1-.8-1.8-1.8-1.8h-1.8c-1 0-1.8.9-1.8 1.8v15.6c0 .8-.1 3.9 2.6 5.8 1.1.8 2.5 1.2 4.2 1.2h.2c2 0 3.3-.2 4.3-.5s1.6-1.4 1.2-2.3l-.8-1.6zM206.8 27.3l.8-1.2c.5-.8.3-1.9-.6-2.4-1.2-.7-3.2-1.5-6.2-1.5-5.3 0-7.6 2.9-7.6 5.4 0 2.6 1.6 4.4 5 5.3 2.8.7 4.4 1.2 4.4 2 0 .6-.8.8-1.9.8-1.5 0-3.1-.7-4.3-1.3-.8-.5-1.9-.3-2.4.5l-1 1.3c-.6.8-.4 1.9.5 2.4 1.4.9 3.9 2.1 7.3 2.1 5.4 0 7.6-2.9 7.6-5.7 0-3.2-2.5-5.1-7-6-1.6-.3-2.7-.6-2.7-1.1 0-.6 1.2-.8 2.3-.8 1.4.1 2.4.4 3.4 1 .9.2 1.9 0 2.4-.8zM143.1 27.1l.8-1.2c.5-.8.3-1.9-.6-2.4-1.2-.7-3.2-1.5-6.2-1.5-5.3 0-7.6 2.9-7.6 5.4 0 2.6 1.6 4.4 5 5.3 2.8.7 4.4 1.2 4.4 2 0 .6-.8.8-1.9.8-1.5 0-3.1-.7-4.3-1.3-.8-.5-1.9-.3-2.4.5l-1 1.3c-.6.8-.4 1.9.5 2.4 1.4.9 3.9 2.1 7.3 2.1 5.4 0 7.6-2.9 7.6-5.7 0-3.2-2.5-5.1-7-6-1.6-.3-2.7-.6-2.7-1.1 0-.6 1.2-.8 2.3-.8 1.4.1 2.4.4 3.4 1 .8.3 1.9 0 2.4-.8zM166.2 34.4l8.7-3c1.5-.5 2.1-2 1.8-3.5-.5-3-3.5-5.9-8.3-5.9-6.2 0-10 4.3-9.6 9.6.5 5.7 3.5 8.4 9.5 9 2.2.2 5.1-.3 6.5-1 1-.5 1.4-1.3 1-2.3l-.7-1.5c-.4-.9-1.4-1.4-2.3-1-1.2.5-4.4 1.7-6.8 0 0-.1 0-.3.2-.4zm1-7.7c1.9-.5 3.4 0 4.1.8.1.1 0 .3-.1.3l-6.5 2.2c-.2.1-.3-.1-.3-.2 0-1.2 1-2.5 2.8-3.1z' fill='rgb(72,127,190)'/><path d='M48.9 14.8c-2-4.2-5.5-7.7-9.7-9.8-3.1-1.6-6.6-2.5-10.3-2.5C21.5 2.4 15 5.9 11 11.2c-.8 1.1-1.5 2.2-2.2 3.5 6.2-2 13-3.1 20-3.1 7.1 0 13.8 1.1 20.1 3.2z' fill='rgb(123,195,225)'/><path d='M6.7 23.8c0 .6 0 1.2.1 1.7 6.6-3.1 14.1-4.8 22-4.8 8 0 15.5 1.8 22 4.9.1-.6.1-1.2.1-1.7 0-2.1-.3-4.1-.9-5.9-.3-1.1-.7-2.1-1.2-3.2-6.2-2.1-13-3.2-20-3.2s-13.8 1.1-20 3.1c-.9 1.9-1.6 3.9-1.9 6.1-.1.9-.2 1.9-.2 3z' fill='rgb(85,150,211)'/><path d='M6.8 25.5c.2 1.8.6 3.6 1.3 5.5.4 1.2 1 2.4 1.6 3.6 5.6-3 12.1-4.7 19.1-4.7 7.1 0 13.6 1.8 19.2 4.9 1-2.1 1.8-4.2 2.3-6.2.2-1 .4-2 .5-2.9-6.6-3.1-14.1-4.9-22-4.9-7.9-.1-15.4 1.6-22 4.7z' fill='rgb(72,127,190)'/><path d='M28.8 39.1c5.2 0 10.1 1.4 14.1 3.7 2-2.5 3.7-5.2 5.1-8-5.6-3.1-12.2-4.8-19.2-4.9-7 0-13.5 1.7-19.1 4.7 1.4 2.8 3.2 5.5 5.2 8 4-2.2 8.8-3.5 13.9-3.5z' fill='rgb(231,165,74)'/><path d='M14.9 42.6c4.6 5.7 10.1 9.9 13.9 10 4.3 0 9.7-4.1 14.2-9.7-4.1-2.3-8.9-3.7-14.1-3.7-5.2-.1-10 1.2-14 3.4z' fill='rgb(226,138,44)'/><path d='M39.4 37.1h-1.7c-1 0-1.9-.8-1.9-1.7v-7.5c0-.7-.3-1.4-1-1.7L31 23.9c-.5-.3-1.1-.4-1.7-.2l-5.8 2c-.8.3-1.4 1-1.4 1.9v7.8c0 1-.7 1.7-1.7 1.7h-1.7c-1 0-1.7-.7-1.7-1.7v-9.2c0-2.2 1.4-4.1 3.5-4.8l8.1-2.7c1.4-.5 3-.3 4.3.4l5.7 3.3c1.6.9 2.6 2.6 2.6 4.4v8.7c0 .8-.8 1.6-1.8 1.6zM19.8 20.3l.5-.1c1-.3 1.8-1.3 1.8-2.3v-2.6c0-.6-.6-1.1-1.2-1l-3.3.7c-.5.1-.9.5-.9.9v5.7c0 .3.4.5.6.3.7-.7 1.5-1.3 2.5-1.6z' fill='rgb(255,255,255)'/></svg>") no-repeat center;
	}

		.b-header__nav{
			background: #fff;
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
		.l-b-header__nav__menu{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			width: 100%;
		}
			.l-b-header__nav__left, .l-b-header__nav__rigth{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				width: 50%;
			}
			.l-b-header__nav__left{
				-webkit-box-pack: start;
				    -ms-flex-pack: start;
				        justify-content: flex-start;
			}
			.l-b-header__nav__rigth{
				-webkit-box-pack: end;
				    -ms-flex-pack: end;
				        justify-content: flex-end;
			}
		.b-header__nav__menuToggle{
			display: block;
			cursor: pointer;
			position: absolute;
			top: -30px;
			right: 20px;
			width: 32px;
			height: 4px;
			background: #000;
			border-radius: 3px;
		}
			.b-header__nav__menuToggle:before{
				content: "";
				width: 32px;
				height: 4px;
				background: #000;
				border-radius: 3px;
				position: absolute;
				top: -8px;
				-webkit-transition: -webkit-transform .5s;
				transition: -webkit-transform .5s;
				-o-transition: transform .5s;
				transition: transform .5s;
				transition: transform .5s, -webkit-transform .5s

			}
			.b-header__nav__menuToggle:after{
				content: "";
				width: 32px;
				height: 4px;
				background: #000;
				border-radius: 3px;
				position: absolute;
				top: 8px;
				-webkit-transition: -webkit-transform .5s;
				transition: -webkit-transform .5s;
				-o-transition: transform .5s;
				transition: transform .5s;
				transition: transform .5s, -webkit-transform .5s
			}
			#menuToggle{
				display: none;
			}

			.b-header__nav__list__link:link, .b-header__nav__list__link:visited{
				text-decoration: none;
				color: #375262;
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				padding: 0px 20px;
		
			}
				.m-header__nav__list__link-border{
					border-left: 1px solid #F5F5F5;
					height: 50px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					    -ms-flex-align: center;
					        align-items: center;
				}
			.b-header__nav__list__link:hover{
				text-decoration: underline;
			}

			.m-header__nav__list__link-adsBtn{
				height: 40px;
				border:none;
				border-radius: 5px;
				color: #fff;
				background: #0AC59B;
				cursor: pointer;
				padding: 0px 20px;
				-webkit-transition: background .25s;
				-o-transition: background .25s;
				transition: background .25s;
			}
				.m-header__nav__list__link-adsBtn>span{
					font-weight: bold;
					font-family: "Noto Sans";
					font-size: 14px;
					white-space: nowrap;
				}
				.m-header__nav__list__link-adsBtn:hover{
					background: #057255;
					text-decoration: none;
				}


/***************Лицо-сайта**********************/
			
.b-siteFace{
	background: url("Img/face.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}	
	.b-siteFace__title{
		color: #fff;
		margin: 0px auto;
		padding: 225px 0px 50px;
		font-size: 3.7em;
		line-height: 1.3em;
		max-width: 900px;
		font-weight: bold;
	}
	.b-siteFace__subTitle{
		color: #fff;
		display: block;
		max-width: 900px;
		margin: auto;
		font-size: 1.625em;
		padding-bottom: 80px;
		text-align: center;
	}
	.b-searching{
		max-width: 1160px;
		padding: 20px;
		font-size: 1.12em;
		margin: 0px auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		background: rgba(0, 0, 0, .3);
		border-radius: 15px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;

	}
		.b-searching__appartment{
			margin: 0;
			padding: 0;
			position: relative;
			width: 45%;
			border-radius: 5px;
			overflow: hidden;
			padding-left: 60px;
		}
		.b-searching__appartment:before{
			content: "";
			background: url("data:image/svg+xml;utf8,<svg id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.5 24.3'><path d='M9.3 0C4.3 0 .2 4.1.2 9.1c0 5.8 4.1 10 6.8 14 1.1 1.6 3.5 1.6 4.6 0 2.7-4 6.8-8.2 6.8-14-.1-5-4.2-9.1-9.1-9.1zm0 14.1c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9c-.1 2.7-2.3 4.9-4.9 4.9z' opacity='0.4' fill='rgb(73,84,97)'/></svg>") no-repeat center;
			background-size: 20px 25px;
			height: 60px;
			background-color: #fff;
			width: 60px;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
			position: absolute;
			left: 0px;
		}
			.b-searching__appartment-input{
				height: 58px;
				width: 100%;
				outline: none;
				border: none;
				font-size: 1.125em;
				line-height: 1.125em;
				-o-text-overflow: ellipsis;
				   text-overflow: ellipsis;
				white-space: nowrap;
				color: #425361;

			}	

				.b-searching__appartment-input:focus::-webkit-input-placeholder {color: transparent}
				.b-searching__appartment-input:focus::-moz-placeholder{color: transparent}
				.b-searching__appartment-input:focus:-moz-placeholder{color: transparent}
				.b-searching__appartment-input:focus:-ms-input-placeholder{color: transparent}
		
		.b-searching__selectorSale, .b-searching__selectorAppartment{
			height: 60px;
			font-size: 1.12em;
			line-height: 1.12em;		
			width: 15%;	
			padding-left: 10px;
			background: #fff;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
			text-align: left;
			border-radius: 5px;
			position: relative;
			-o-text-overflow: ellipsis;
			   text-overflow: ellipsis;
			white-space: nowrap;
			color: #425361;
		}

	

		.b-searching__searchBtn{
			width: 15%;
			background: #FFAB46;
			border:none;
			height: 60px;
			color: #fff;
			border-radius: 5px;
			position: relative;
			cursor: pointer;
			font-size: 1.12em;
			line-height: 1.12em;
			font-weight: bold;
			-webkit-transition: background .25s;
			-o-transition: background .25s;
			transition: background .25s;

		}
			.b-searching__searchBtn:hover{
				background: #BA8312;
			}
			
		.b-searching__searchBtn:before{
			content: url("Img/search.svg");
			float: left;
			height: 20px;
			width: 20px;
			position: absolute;
			top: 20px;
			left: 15px;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}

	.b-siteFace__sliderSwitchers{
		padding: 40px 0;
		font-size: .7em;

	}
		.b-siteFace__sliderSwitchers__switcher{
			height: 1em;
			width: 1em;
			border-radius: 50%;
			display: inline-block;
			margin: 0 .5em;
			background: #BFBFBF;
			cursor: pointer;
		}
		.b-siteFace__sliderSwitchers__switcher-active{
			background: #fff;
		}	

/*******************Контент**********************/

.b-main{	
	margin: 60px auto 0;
	position: relative;
}
	.m-main-withBorder{
		border-bottom: 1px solid #D8E0E6;
	}
	.l-wrapper-for-head-section{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
		.l-wrapper-for-head-section__left{
			width: 70%;
		}
		.l-wrapper-for-head-section__right{
			width: 30%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: end;
			    -ms-flex-pack: end;
			        justify-content: flex-end;
		}
.b-main__articleTitle{
	font-size: 2em;
	color: #0080C5;
	margin-bottom: 20px;
}
	.b-main__articleTitle-center{
		text-align: center;
	}
.b-main__subArticleTitle{
	font-size: 1.25em;
	color: #425361;
	line-height: 1.25em;
}

.b-main__search{
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	padding: 0px 35px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #8596A4;
	width: 200px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #8596A4;
	text-align: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

	.b-main__search:before{
		content:"";
		background: url("data:image/svg+xml;utf8,<svg id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.5 24.3'><path d='M9.3 0C4.3 0 .2 4.1.2 9.1c0 5.8 4.1 10 6.8 14 1.1 1.6 3.5 1.6 4.6 0 2.7-4 6.8-8.2 6.8-14-.1-5-4.2-9.1-9.1-9.1zm0 14.1c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9c-.1 2.7-2.3 4.9-4.9 4.9z' opacity='0.4' fill='rgb(73,84,97)'/></svg>") no-repeat center;
		background-size: 14px 18px;
		height: 40px;
		width: 20px;
		position: absolute;
		top: 0px;
		left: 10px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.b-main__search:after{
		content: "";
		background:  url("data:image/svg+xml;utf8,<svg id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 9 5.2'><symbol id='New_Symbol_2' viewBox='-4.4 -2.6 8.8 5.2'><path d='M0-2.6c-.2 0-.4.1-.6.2l-3.6 3.6c-.3.3-.3.9 0 1.2.3.3.9.3 1.2 0l3-3 3 3c.3.3.9.3 1.2 0 .3-.3.3-.9 0-1.2L.6-2.4c-.2-.1-.4-.2-.6-.2z' fill='rgb(73,84,97)'/></symbol><use xlink:href='%23New_Symbol_2' width='8.8' height='5.2' x='-4.4' y='-2.6' transform='matrix(1 0 0 -1 4.533 2.615)' overflow='visible'/></svg>") no-repeat center;
		background-size: 8px 5px;
		position: absolute;
		right: 10px;
		width: 15px;
		height: 40px;
		cursor: pointer;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
.l-wrapper-for-apartment{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}	
	.b-main__leftPart,.b-main__rightPart {
		width: 50%;
	}

	.m-apartment-large{
		width: 100%;
	}
	.m-apartment-middle{
		width: 46%;
		margin-left: 4%;
	}
	.m-apartment-small{
		width: 24%;
	}
	.b-main__apparmtent-list{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;	
	}


	.b-apartment{
		margin-top: 20px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		position: relative;
	}	
		.b-apartment__img{
			width: 100%;
			cursor: pointer;
			-webkit-transition: -webkit-transform .25s;
			transition: -webkit-transform .25s;
			-o-transition: transform .25s;
			transition: transform .25s;
			transition: transform .25s, -webkit-transform .25s;
		}
			.b-apartment__img:hover{
				-webkit-transform: scale(1.2);
				    -ms-transform: scale(1.2);
				        transform: scale(1.2);
			}
			.b-apartment__l-wrapper__forImg{
				width: 100%;
				position: relative;
				overflow: hidden;
				border-radius: 5px;
			}
				.b-apartment__moreDiscounts{
					width: 100%;
					margin: 0 auto;
					position: absolute;
					bottom: 0px;
					background: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 22, 26, 1)), to(rgba(17, 22, 26, 0)));
					background: -webkit-linear-gradient(bottom, rgba(17, 22, 26, 1) 0%, rgba(17, 22, 26, 0) 100%);
					background: -o-linear-gradient(bottom, rgba(17, 22, 26, 1) 0%, rgba(17, 22, 26, 0) 100%);
					background: linear-gradient(to top, rgba(17, 22, 26, 1) 0%, rgba(17, 22, 26, 0) 100%);
				}
				.b-apartment__moreDiscounts__title{
					text-align: center;
					font-size: 1.6em;
					color: #FFAB46;
					font-weight: bold;
					margin: 5px;
				}
				.b-apartment__moreDiscounts__subTitle{
					text-align: center;
					font-size: 1.25em;
					color: #F0F4F6;
					margin: 5px;
					padding-bottom: 25px;
				}	
		.b-apartment__description{
			margin: 0px 0px 7px;
			font-weight: bold;
			color: #0080C5;
			line-height: 1.25em; 
		}
			.m-apartment__description-large{
				font-size: 1.2em;
				margin-top: 30px;
			}
			.m-apartment__description-small{
				margin-top: 20px;
				font-size: 1em;
			}
		.b-apartment__price{
			margin: 7px 0px;
			font-weight: bold;
			color: #FF8701;
		}
			.m-apartment__price-large{
				font-size: 1.25em;
			}
			.m-apartment__price-small{
				font-size: 1em;
			}
		.b-apartment__square{
			margin: 7px 0px;		
			color: #425361;
		}
			.m-apartment__square-large{
				font-size: 1.25em;
			}
			.m-apartment__square-medium{
				font-size: .87em;
			}
			.m-apartment__square-small{
				font-size: .75em;
			}
		.b-apartment__street{
			margin: 7px 0px;
			color: #425361;
			line-height: 1.25em;
		}
			.m-apartment__street-large{
				font-size: .87em;
			}
			.m-apartment__street-small{
				font-size: .75em;
			}
		.m-apartment-discount:before{
			content: "акция!";
			text-transform: uppercase;
			font-size: .7em;
			color: #fff;
			font-weight: bold;
			display: block;
			position: absolute;
			right: 0;
			padding: 10px 15px;
			border-radius: 0px 0px 0px 15px;
			background: #FD5252;
			z-index: 995;
		}

.b-main__btn{
	cursor: pointer;
	font-size: .87em;
	text-align: center;
	display: block;
	font-weight: bold;
	color: #006AA5;
	border: 1px solid #C2D0DC;
	border-radius: 5px;
	background: #fff;
	margin: 40px auto 50px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 15px 35px;
	-webkit-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s;
}
	.b-main__btn:hover{
		background: #eaeaea;

	}


.b-postAd{
	width: 100%;
	border: 1px solid #C2D0DC;
	border-radius: 10px;
	margin: 0px auto 95px;
	background: url("Img/post_ad.png") no-repeat;
	background-position: right 10% center;
	background-size: 180px auto;
}
	.b-postAd-l-wrapper{
		width: 55%;
		margin: 0px;
		padding: 10%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
		.b-postAd__question{
			color: #006AA5;
			font-size: 2em;
			padding-bottom: 5%;
		}
		.b-postAd__postAdBtn{
			color: #fff;
			font-size: 1em;
			font-weight: bold; 
			background: #FFAB46;
			border: none;
			outline: none;
			padding: 20px 55px;
			border-radius: 5px;
			cursor: pointer;
			white-space: nowrap;
		}
			.b-postAd__postAdBtn:hover{
				background: #BA6A13;
			}

.b-ourBlog{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 40px auto;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	 text-align: left;   
}
	.b-ourBlog__block{
		width: 32%;
		padding: 20px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		border-radius: 15px;
		position: relative;
	}
	.b-ourBlog__block:after{
		content: "";
		position: absolute;
		bottom: -34px;
		left: 35px;
		border: 17px solid transparent;
		z-index: -5;
	}
	.m-ourBlog__block-left{
		background: rgba(35, 158, 237, .2);
	}
	.m-ourBlog__block-left:after{
		border-left: 17px solid  rgba(35, 158, 237, .2);
		border-top: 17px solid  rgba(35, 158, 237, .2);
	}
	.m-ourBlog__block-center{
		background: rgba(255, 171, 70, .2);
	}
	.m-ourBlog__block-center:after{
		border-left: 17px solid  rgba(255, 171, 70, .2);
		border-top: 17px solid  rgba(255, 171, 70, .2);
	}
	.m-ourBlog__block-right{
		background: rgba(88, 214, 178, .2);
	}
	.m-ourBlog__block-right:after{
		border-left: 17px solid  rgba(88, 214, 178, .2);
		border-top: 17px solid  rgba(88, 214, 178, .2);
	}
		
		.b-ourBlog__block__head{
			font-size: 1.25em;
			margin: 0px 0px 20px 0px;
			color: #0080C5;
			line-height: 25px;
		}
		.b-ourBlog__block__date{
			font-size: .75em;
			color: #425361;
			border-radius: 10px;
			padding: 3px 9px;
			line-height: 1.5em;
		}
			.m-ourBlog__block__date-left{
				background: rgba(35, 158, 237, .3);
			}
			.m-ourBlog__block__date-center{
				background: rgba(255, 171, 70, .3);
			}
			.m-ourBlog__block__date-right{
				background: rgba(88, 214, 178, .3);
			}
		.b-ourBlog__block__property{
			font-size: .75em;
			color: #425361;
			line-height: 1.7em;
		}
		.b-ourBlog__block__inform{
			font-size: .87em;
			color: #425361;
			line-height: 1.7em;
		}
	
	.b-main__referens:link, .b-main__referens:visited{
		display: inline-block;
		margin: 30px auto;
		padding-bottom: 2px;
		font-size: .87em;
		color: #0080C5;
		text-decoration: none;
		border-bottom: 1px solid #0080C5;
		text-align: center;
	}
	.b-main__referens:hover{
		color: #000;
		border-color: #000;
	}

.b-aboutUs{
	width: 70%;
	margin: 30px auto;
}
	.b-aboutUs__description{
		font-size: 1.5em;
		color: #425361;
		text-align: center;
		line-height: 1.87em;
	}
	.b-aboutUs__capital{
		font-size: .87em;
		color: #6D7B84;
		text-align: center;
		margin: 40px auto 50px;
	}
	.b-aboutUs__sliderSwitchers{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin: 0px auto;
		font-size: .6em;
	}

	.b-aboutUs__sliderSwitchers__switcher{
		height: .6em;
		width: .6em;
		margin: 0 5px;
		background: rgba(66, 83, 97, .3);
		border-radius: 50%;
		cursor: pointer;
	}
		.m-aboutUs__sliderSwitchers__switcher-active{
			background: rgba(66, 83, 97, 1);
		}

.b-articles{
	margin: 0px auto;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}
.b-articles{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;	
	margin-bottom: 60px;
}
	.b-articles__link{
		display: block;
		width: 15%;
		height: 5.6em;
		-webkit-transition: -webkit-transform .5s;
		transition: -webkit-transform .5s;
		-o-transition: transform .5s;
		transition: transform .5s;
		transition: transform .5s, -webkit-transform .5s;
	}
	.b-articles__link:hover{
		-webkit-transform: rotate(10deg);
		    -ms-transform: rotate(10deg);
		        transform: rotate(10deg);
	}
		.m-articles__link-capital{
			background: url(Img/capital.png) no-repeat;
			background-position: center;
		}
		.m-articles__link-forbes{
			background: url(Img/forbes.png) no-repeat;
			background-position: center;
		}
		.m-articles__link-ain{
			background: url("Img/ain.png") no-repeat;
			background-position: center;
		}
		.m-articles__link-logger{
			background: url("Img/logger.png") no-repeat;
			background-position: center;
		}
		.m-articles__link-delo{
			background: url("Img/delo.png") no-repeat;
			background-position: center;
		}

.b-clientele{
	max-width: 620px;
	margin: 50px auto 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0;
	border-radius: 20px;
	overflow: hidden;
	
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}
	.b-clientele__radioForClient{
		display: none;
	}
	.b-clientele__client{
		padding: 20px 0;
		font-weight: bold;
		font-size: 1em;
		color: #6C8090;
		text-align: center;	
		background: #F0F4F6;
		width: 33.33333%;
		cursor: pointer;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
		.b-clientele__radioForClient:checked+.b-clientele__client{
			color: #fff;
			background: #FFAB46;
		}

.l-benefits{
	margin: 0px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
	.b-benefit{
		width: 22%;
	}
		.m-benefit-inform{
			background: url("Img/inform.png") no-repeat;
			background-position: top left;
		}
		.m-benefit-search{
			background: url("Img/search.png") no-repeat;
			background-position: top left;
		}
		.m-benefit-phone{
			background: url("Img/phone.png") no-repeat;
			background-position: top left;
		}
		.m-benefit-choose{
			background: url("Img/choose.png") no-repeat;
			background-position: top left;
		}
		.b-benefit__name{
			color: #0080C5;
			font-size: 1em;
			font-weight: bold;
			margin: 125px 0 10px;
		}
		.b-benefit__descriction{
			color: #425361;
			font-size: 1em;
			line-height: 1.5em;		
		}
.b-main__titleText-center{
	margin-top: 80px;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	}

.b-searchingAppartment{
		margin: 20px auto 80px;	
		position: relative;
		max-width: 460px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		border: 1px solid #C2D0DC;
		border-radius: 15px;
		overflow: hidden;
		padding-right: 20px;			
		color: #8596A4;
	}
		.b-searchingAppartment-input{
			width: 85%;
			height: 60px;
			font-size: 1em;
			outline: none;
			margin-left: 60px;
			border:none;
			-o-text-overflow: ellipsis;
			   text-overflow: ellipsis;
			white-space: nowrap;
			color: #8596A4;

		}
			.b-searchingAppartment-input:focus::-webkit-input-placeholder {color: transparent}
			.b-searchingAppartment-input:focus::-moz-placeholder{color: transparent}
			.b-searchingAppartment-input:focus:-moz-placeholder{color: transparent}
			.b-searchingAppartment-input:focus:-ms-input-placeholder{color: transparent}
		
		.b-searchingAppartment:before{
			content: "";
			background: url("data:image/svg+xml;utf8,<svg id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.5 24.3'><path d='M9.3 0C4.3 0 .2 4.1.2 9.1c0 5.8 4.1 10 6.8 14 1.1 1.6 3.5 1.6 4.6 0 2.7-4 6.8-8.2 6.8-14-.1-5-4.2-9.1-9.1-9.1zm0 14.1c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9c-.1 2.7-2.3 4.9-4.9 4.9z' opacity='0.4' fill='rgb(73,84,97)'/></svg>") no-repeat center;
			background-size: 20px 25px;
			height: 60px;
			width: 60px;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
			background-color: #fff;
			position: absolute;
			left: 0px;
			z-index: -5;
		}

/**************Футер******************/

.b-footer{
	background: #375262;
	padding: 40px;
}
.b-footer>.L-wrapper__content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
	.b-footer__leftPart{
		width: 40%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
		.b-footer__leftPart__left{
			width: 50%;
		}
		.b-footer__leftPart__right{
			width: 50%;	
		}
		.b-footer__leftPart__title{
			color: #D7DFE5;
			font-size: 1em;
			font-weight: bold;
			display: block;
			margin: 0 25px 15px 0;

		}
			.m-footer__leftPart__title-separator{
				margin-top:30px;
			}
		.b-footer__list__li{
			display: block;
			padding: 10px 0;
		}

		.b-footer__list__ref:link, .b-footer__list__ref:visited{
			color: #C1CFDB;
			text-decoration: none;		
		}
		.b-footer__list__ref:hover{
			color: #000;
		}
			.m-footer__list__ref-leftP{			
				font-size: .87em;
			}
	.b-footer__rightPart{
		width: 60%;
		padding-left: 60px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		border-left: 1px solid #688496;
	}
		.b-footer__rightPart__head{
			font-size: 1em;
			font-weight: bold;
			color: #D7DFE5;
			margin: 0px 0px 20px;
		}
			.m-footer__list__ref-rightP{
				font-size: .75em;
				line-height: 2em;
			}
			.m-footer__list__ref-rightP:not(:first-of-type):before{
				content:" \007C  ";
			}
			.m-footer__list__ref-rightP:hover+.m-footer__list__ref-rightP:before{
				color: #000;
			}
		.b-footer__rightPart_span1, .b-footer__rightPart_span2{
			font-size: .87em;
		}
		.b-footer__rightPart_owner{
			color: #8495A3;
			font-size: .87em;
			margin: 20px 5px 20px 50px;
			display: inline-block;
			position: relative;
		}
		.b-footer__rightPart_owner:before{
			content: " ";
			height: 39px;
			width: 45px;
			position: absolute;
			display: inline-block;
			background: url("Img/footerEmblem.png") no-repeat;
			left: -50px;
			top: -10px;
		}
		.b-footer__rightPart_span2, .b-footer__rightPart_span3{
			color: #C1CFDB;
		}
		.m-footer__list__ref-rightFoot{
			font-size: .87em;
			color: #C1CFDB;
			margin-right: 5px;
		}


/*****************Адаптив******************************/

@media screen and (min-width: 993px) and (max-width: 1200px){
	body{
		font-size: 16px;
	}

	.b-articles__link{
		width: 32%;
	}

}
@media screen and (min-width: 769px) and (max-width: 992px){
	body{
		font-size: 15px;
	}
	.b-header{
		height: 55px;
	}
		.b-header__content{
			height: 35px;
			position: relative;
		}
	.b-header__nav{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: absolute;
		position: absolute;
		top: 45px;
		left: 0px;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
	}
		.l-b-header__nav__menu{			
			-webkit-box-orient: vertical;			
			-webkit-box-direction: normal;			
			    -ms-flex-direction: column;			
			        flex-direction: column;
			-webkit-transition: -webkit-transform .5s;
			transition: -webkit-transform .5s;
			-o-transition: transform .5s;
			transition: transform .5s;
			transition: transform .5s, -webkit-transform .5s;
		}
		.b-header__nav__menuToggle{
			left: -50px;
		}
		#menuToggle:checked+.b-header__nav__menuToggle:before{
			-webkit-transform: translateY(8px);
			    -ms-transform: translateY(8px);
			        transform: translateY(8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle:after{
			-webkit-transform: translateY(-8px);
			    -ms-transform: translateY(-8px);
			        transform: translateY(-8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle+.l-b-header__nav__menu{
			-webkit-transform: translateX(-100%);
			    -ms-transform: translateX(-100%);
			        transform: translateX(-100%);
		}
		.l-b-header__nav__left{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__rigth{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__left, .l-b-header__nav__rigth{
			width: 100%;
		}
		.b-header__nav__list__link:link, .b-header__nav__list__link:visited{
			display: block;
			border-bottom: 1px solid #d8d8d8;
			padding: 20px;
			width: 100%;
			background: #fff;
			text-align: left;
			border-left: 5px solid transparent;
			-webkit-transition: color .25s, background .25s, border-left .25s;
			-o-transition: color .25s, background .25s, border-left .25s;
			transition: color .25s, background .25s, border-left .25s;
		}
		.b-header__nav__list__link:hover{
			text-decoration: none;
			background: #d8d8d8;
			border-left: 5px solid #6d6d6d;
		}
		.m-header__nav__list__link-border{
			height: auto;
			border-left: none;
		}
		.m-header__nav__list__link-adsBtn{
				background: #fff;
				color: #375262;
				font-weight: bold;
				width: 100%;
				margin: 0px;
				display: block;
				text-align: left;
				height: 55px;
				border-left: 5px solid transparent;
				border-radius: 0px;
				-webkit-transition: color .25s, background .25s, border-left .25s;
				-o-transition: color .25s, background .25s, border-left .25s;
				transition: color .25s, background .25s, border-left .25s;
			
			}
				.m-header__nav__list__link-adsBtn:focus{
					border:none;
					outline: none;			
				}
				.m-header__nav__list__link-adsBtn:hover{
					background: #d8d8d8;
					border-left: 5px solid #6d6d6d;
				}
	.b-articles__link{
		width: 32%;
	}
	.b-searching{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
		.b-searching__appartment{
			margin: 0px 0px 20px;
			width: 100%;
		}
		.b-searching__selectorAppartment, .b-searching__searchBtn, .b-searching__selectorSale{
			width: 32%;
		}


}
@media screen and (min-width: 481px) and (max-width: 768px){
	body{
		font-size: 14px;
	}
	.b-header{
		height: 55px;
	}
		.b-header__content{
			height: 35px;
		}
		.b-header__nav{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: absolute;
		position: absolute;
		top: 45px;
		left: 0px;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
	}
		.l-b-header__nav__menu{			
			-webkit-box-orient: vertical;			
			-webkit-box-direction: normal;			
			    -ms-flex-direction: column;			
			        flex-direction: column;
			-webkit-transition: -webkit-transform .5s;
			transition: -webkit-transform .5s;
			-o-transition: transform .5s;
			transition: transform .5s;
			transition: transform .5s, -webkit-transform .5s;
		}
		.b-header__nav__menuToggle{
			left: -50px;
		}
		#menuToggle:checked+.b-header__nav__menuToggle:before{
			-webkit-transform: translateY(8px);
			    -ms-transform: translateY(8px);
			        transform: translateY(8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle:after{
			-webkit-transform: translateY(-8px);
			    -ms-transform: translateY(-8px);
			        transform: translateY(-8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle+.l-b-header__nav__menu{
			-webkit-transform: translateX(-100%);
			    -ms-transform: translateX(-100%);
			        transform: translateX(-100%);
		}
		.l-b-header__nav__left{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__rigth{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__left, .l-b-header__nav__rigth{
			width: 100%;
		}
		.b-header__nav__list__link:link, .b-header__nav__list__link:visited{
			display: block;
			border-bottom: 1px solid #d8d8d8;
			padding: 20px;
			width: 100%;
			background: #fff;
			text-align: left;
			border-left: 5px solid transparent;
			-webkit-transition: color .25s, background .25s, border-left .25s;
			-o-transition: color .25s, background .25s, border-left .25s;
			transition: color .25s, background .25s, border-left .25s;
		}
		.b-header__nav__list__link:hover{
			text-decoration: none;
			background: #d8d8d8;
			border-left: 5px solid #6d6d6d;
		}
		.m-header__nav__list__link-border{
			height: auto;
			border-left: none;
		}
		.m-header__nav__list__link-adsBtn{
				background: #fff;
				color: #375262;
				font-weight: bold;
				width: 100%;
				margin: 0px;
				display: block;
				text-align: left;
				height: 55px;
				border-left: 5px solid transparent;
				border-radius: 0px;
				-webkit-transition: color .25s, background .25s, border-left .25s;
				-o-transition: color .25s, background .25s, border-left .25s;
				transition: color .25s, background .25s, border-left .25s;
			
			}
				.m-header__nav__list__link-adsBtn:focus{
					border:none;
					outline: none;			
				}
				.m-header__nav__list__link-adsBtn:hover{
					background: #d8d8d8;
					border-left: 5px solid #6d6d6d;
				}
	.l-wrapper-for-head-section__right,.l-wrapper-for-head-section__left{
		width: 100%;
		padding: 10px 0;
	}
	.b-siteFace__title {
		padding: 190px 0px 40px;
	}
	.b-siteFace__subTitle{
		padding-bottom: 60px;
	}
	.b-searching{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
		.b-searching__appartment{
			margin: 0px 0px 20px;
			width: 100%;
			height: 50px;
			padding: 0px 0px 0px 50px;
		}
			.b-searching__appartment:before{
				height: 50px;
				width: 50px;
				padding: 13px 16px 10px ;
			}
			.b-searching__appartment-input{
				height: 50px;
			}
		.b-searching__selectorAppartment, .b-searching__searchBtn, .b-searching__selectorSale{
			width: 32%;
			height: 50px;
		}
			.b-searching__searchBtn:before{
				top: 16px;
				left: 13px;
				padding: 1px 2px ;
			}

	.b-siteFace__sliderSwitchers{
		padding: 30px 0;
	}	
	.b-main__leftPart{
		width: 100%;
	}
	.b-main__rightPart{
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
		.m-apartment-middle{
			width: 49%;
			margin: 0px;
		}
		.m-apartment-small{
			width: 49%;
			margin: 0px;
		}
		.m-apartment-discount:before{
			padding: 8px 12px;
		}
	
	.l-forApartments>.b-apartment{
		width: 49%;
	}	
	.b-articles__link{
		width: 49%;
	}

	.b-ourBlog__block{
		width: 49%;
		margin: 20px auto;
	}
	.b-postAd{	
		background-size: auto;	
		background-position:  center top 30px;
		margin: 0px auto 55px;
	}
		.b-postAd-l-wrapper{
			text-align: center;
			width: 100%;
			padding-top: 250px;
		}


	.b-benefit{
		width: 48%;
		margin-top: 10px;
	}
	.b-searchingAppartment{
		height: 50px;
	}
	.b-searchingAppartment:before{
		height: 50px;
		width: 50px;
		padding: 12px 15px;
	}
		.b-searchingAppartment-input{
			height: 50px;
			margin: 0 0 0 50px;
		}
	.b-footer{
		padding: 30px;
	}
		.b-footer__leftPart{
			width: 100%;
		}
			.b-footer__list__li{
				padding: 7px 0;
			}
			.m-footer__leftPart__title-separator{
				width: 100%;
			}
		.b-footer__rightPart{
			margin-top: 20px;
			width: 100%;
			border: none;
			padding: 0px;
		}
}
@media screen and (min-width: 321px) and (max-width: 480px){
	body{
		font-size: 14px;
	}
	.b-header{
		height: 55px;
	}
		.b-header__content{
			height: 35px;
		}
		.b-header__nav{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: absolute;
		position: absolute;
		top: 45px;
		left: 0px;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
	}
		.l-b-header__nav__menu{			
			-webkit-box-orient: vertical;			
			-webkit-box-direction: normal;			
			    -ms-flex-direction: column;			
			        flex-direction: column;
			-webkit-transition: -webkit-transform .5s;
			transition: -webkit-transform .5s;
			-o-transition: transform .5s;
			transition: transform .5s;
			transition: transform .5s, -webkit-transform .5s;
		}
		.b-header__nav__menuToggle{
			left: -50px;
		}
		#menuToggle:checked+.b-header__nav__menuToggle:before{
			-webkit-transform: translateY(8px);
			    -ms-transform: translateY(8px);
			        transform: translateY(8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle:after{
			-webkit-transform: translateY(-8px);
			    -ms-transform: translateY(-8px);
			        transform: translateY(-8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle+.l-b-header__nav__menu{
			-webkit-transform: translateX(-100%);
			    -ms-transform: translateX(-100%);
			        transform: translateX(-100%);
		}
		.l-b-header__nav__left{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__rigth{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__left, .l-b-header__nav__rigth{
			width: 100%;
		}
		.b-header__nav__list__link:link, .b-header__nav__list__link:visited{
			display: block;
			border-bottom: 1px solid #d8d8d8;
			padding: 20px;
			width: 100%;
			background: #fff;
			text-align: left;
			border-left: 5px solid transparent;
			-webkit-transition: color .25s, background .25s, border-left .25s;
			-o-transition: color .25s, background .25s, border-left .25s;
			transition: color .25s, background .25s, border-left .25s;
		}
		.b-header__nav__list__link:hover{
			text-decoration: none;
			background: #d8d8d8;
			border-left: 5px solid #6d6d6d;
		}
		.m-header__nav__list__link-border{
			height: auto;
			border-left: none;
		}
		.m-header__nav__list__link-adsBtn{
				background: #fff;
				color: #375262;
				font-weight: bold;
				width: 100%;
				margin: 0px;
				display: block;
				text-align: left;
				height: 55px;
				border-left: 5px solid transparent;
				border-radius: 0px;
				-webkit-transition: color .25s, background .25s, border-left .25s;
				-o-transition: color .25s, background .25s, border-left .25s;
				transition: color .25s, background .25s, border-left .25s;
			
			}
				.m-header__nav__list__link-adsBtn:focus{
					border:none;
					outline: none;			
				}
				.m-header__nav__list__link-adsBtn:hover{
					background: #d8d8d8;
					border-left: 5px solid #6d6d6d;
				}

	.l-wrapper-for-head-section__right,.l-wrapper-for-head-section__left{
		width: 100%;
		padding: 10px 0;
	}			
	.b-siteFace__title{
		padding: 190px 0px 40px;
	}			
	.b-siteFace__subTitle{
		padding-bottom: 50px;
	}
	.b-searching{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
		.b-searching__appartment{
			margin: 0px 0px 20px;
			width: 100%;
			height: 40px;
			padding: 0px 0px 0px 40px;
		}

			.b-searching__appartment:before{
				height: 40px;
				width: 40px;
				padding: 10px 12px 9px;
			}
			.b-searching__appartment-input{
				height: 40px;
			}
		.b-searching__selectorAppartment, .b-searching__selectorSale{
			width: 48%;
			margin-bottom: 20px;
			height: 40px;
		}
		.b-searching__searchBtn{
			width: 100%;
			height: 40px;
		}
			.b-searching__searchBtn:before{
				padding: 0px;
				top: 11px;
				left: 11px;
			}
	.b-siteFace__sliderSwitchers{
		padding: 20px 0;
	}


	.b-main__leftPart{
		width: 100%;
		float: none;
	}
	.b-main__rightPart{
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
		.m-apartment-middle{
			width: 49%;
			margin: 0px;
		}
		.m-apartment-small{
			width: 49%;
			margin: 0px;
		}
		.m-apartment-discount:before{
			padding: 7px 11px;
		}
	.l-forApartments>.b-apartment{
		width: 49%;

	}	
	.b-articles__link{
		width: 100%;
	}
	.b-postAd{	
		background-size: auto;	
		background-position:  center top 30px;
		margin: 0px auto 55px;
	}
		.b-postAd-l-wrapper{
			text-align: center;
			width: 100%;
			padding-top: 250px;
		}
			.b-postAd__postAdBtn{
				padding: 15px 40px;
			}


.b-ourBlog{
	margin: 30px auto;
}
	.b-ourBlog__block{
		width: 100%;
		margin: 20px auto;
	}
		.b-ourBlog__block__head{
			margin-bottom: 5px;
		}

.b-clientele__client{
	width: 100%;
}

	.b-benefit{
		width: 48%;
		margin-top: 10px;
	}

	.b-searchingAppartment{
		margin: 20px auto 50px;
		height: 40px;
	}	
	
	.b-searchingAppartment:before{
		height: 40px;
		width: 40px;
		padding: 10px 13px;
	}
		.b-searchingAppartment-input{
			height: 40px;
			margin: 0 0 0 40px;
		}
	.b-footer{
		padding: 20px;
	}
		.b-footer__leftPart{
			width: 100%;
		}
			.b-footer__list__li{
				padding: 5px 0;
			}
			.m-footer__leftPart__title-separator{
				width: 100%;
			}
		.b-footer__rightPart{
			margin-top: 15px;
			width: 100%;
			border: none;
			padding: 0px;
		}
		.b-footer__rightPart__head{
			margin: 0px 0px 10px;
		}
}
@media screen and (min-width: 0px) and (max-width: 320px){
	body{
		font-size: 13px;
	}
	.b-header{
		height: 55px;
	}
		.b-header__content{
			height: 35px;
		}
	.b-header__nav{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: absolute;
		position: absolute;
		top: 45px;
		left: 0px;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
	}
		.l-b-header__nav__menu{			
			-webkit-box-orient: vertical;			
			-webkit-box-direction: normal;			
			    -ms-flex-direction: column;			
			        flex-direction: column;
			-webkit-transition: -webkit-transform .5s;
			transition: -webkit-transform .5s;
			-o-transition: transform .5s;
			transition: transform .5s;
			transition: transform .5s, -webkit-transform .5s;
		}
		.b-header__nav__menuToggle{
			left: -50px;
		}
		#menuToggle:checked+.b-header__nav__menuToggle:before{
			-webkit-transform: translateY(8px);
			    -ms-transform: translateY(8px);
			        transform: translateY(8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle:after{
			-webkit-transform: translateY(-8px);
			    -ms-transform: translateY(-8px);
			        transform: translateY(-8px);
		}
		#menuToggle:checked+.b-header__nav__menuToggle+.l-b-header__nav__menu{
			-webkit-transform: translateX(-100%);
			    -ms-transform: translateX(-100%);
			        transform: translateX(-100%);
		}
		.l-b-header__nav__left{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__rigth{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.l-b-header__nav__left, .l-b-header__nav__rigth{
			width: 100%;
		}
		.b-header__nav__list__link:link, .b-header__nav__list__link:visited{
			display: block;
			border-bottom: 1px solid #d8d8d8;
			padding: 20px;
			width: 100%;
			background: #fff;
			text-align: left;
			border-left: 5px solid transparent;
			-webkit-transition: color .25s, background .25s, border-left .25s;
			-o-transition: color .25s, background .25s, border-left .25s;
			transition: color .25s, background .25s, border-left .25s;
		}
		.b-header__nav__list__link:hover{
			text-decoration: none;
			background: #d8d8d8;
			border-left: 5px solid #6d6d6d;
		}
		.m-header__nav__list__link-border{
			height: auto;
			border-left: none;
		}
		.m-header__nav__list__link-adsBtn{
				background: #fff;
				color: #375262;
				font-weight: bold;
				width: 100%;
				margin: 0px;
				display: block;
				text-align: left;
				height: 55px;
				border-left: 5px solid transparent;
				border-radius: 0px;
				-webkit-transition: color .25s, background .25s, border-left .25s;
				-o-transition: color .25s, background .25s, border-left .25s;
				transition: color .25s, background .25s, border-left .25s;
			
			}
				.m-header__nav__list__link-adsBtn:focus{
					border:none;
					outline: none;			
				}
				.m-header__nav__list__link-adsBtn:hover{
					background: #d8d8d8;
					border-left: 5px solid #6d6d6d;
				}
		.l-wrapper-for-head-section__right,.l-wrapper-for-head-section__left{
			width: 100%;
			padding: 10px 0;
		}
		.b-siteFace__subTitle{
			padding-bottom: 40px;
		}
		.b-searching{
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
		}
		.b-searching__appartment{
			margin: 0px 0px 20px;
			width: 100%;
			height: 40px;
			padding: 0px 0px 0px 40px;
		}

			.b-searching__appartment:before{
				height: 40px;
				width: 40px;
				padding: 10px 12px 9px;
			}
			.b-searching__appartment-input{
				height: 40px;
			}
		.b-searching__selectorAppartment, .b-searching__selectorSale{
			width: 48%;
			margin-bottom: 20px;
			height: 40px;
		}
		.b-searching__searchBtn{
			width: 100%;
			height: 40px;
		}
			.b-searching__searchBtn:before{
				padding: 0px;
				top: 11px;
				left: 11px;
			}

	.b-siteFace__sliderSwitchers{
		padding: 15px 0;
	}

	.b-main__leftPart{
		width: 100%;
		float: none;
	}
	.b-main__rightPart{
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
		.m-apartment-middle{
			width: 100%;
			margin: 0px;
		}
		.m-apartment-small{
			width: 100%;
			margin: 0px;
		}
		.m-apartment-discount:before{
			padding: 6px 10px;
		}

	.l-forApartments>.b-apartment{
		width: 49%;
	}
	.b-articles__link{
		width: 100%;
	}
	.b-postAd{	
		background-size: auto;	
		background-position:  center top 30px;
		margin: 0px auto 40px;
	}
		.b-postAd-l-wrapper{
			text-align: center;
			width: 100%;
			padding-top: 250px;
		}
			.b-postAd__postAdBtn{
				padding: 15px 40px;
			}


.b-ourBlog{
	margin: 20px auto;
}			
	.b-ourBlog__block{
		width: 100%;
		margin: 20px auto;
	}
		.b-ourBlog__block__head{
			margin-bottom: 5px;
		}

.b-clientele__client{
	width: 100%;
}

	.b-benefit{
		width: 100%;
		margin-top: 10px;
	}	
	.b-searchingAppartment{
		margin: 20px auto 50px;
		height: 40px;
	}	
	
	.b-searchingAppartment:before{
		height: 40px;
		width: 40px;
		padding: 10px 13px;
	}
		.b-searchingAppartment-input{
			height: 40px;
			margin: 0 0 0 40px;
		}
	.b-footer{
		padding: 10px;
	}
		.b-footer__leftPart{
			width: 100%;
		}
			.b-footer__list__li{
				padding: 5px 0;
			}
			.m-footer__leftPart__title-separator{
				width: 100%;
			}
		.b-footer__rightPart{
			margin-top: 10px;
			width: 90%;
			border: none;
			padding: 0px;
		}		
		.b-footer__rightPart__head{
			margin: 0px 0px 10px;
		}
}