/*CSS reset begin*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS reset end*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

body{
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.L-wrapper__content{
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
	box-sizing: border-box;
	min-width: 320px;
}
.L-wrapper__site{
	max-width: 1500px;
	margin: 0 auto;
	min-width: 320px;
}
.b-header{
	background: #fff;
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 10px rgba(124, 124, 124, .5);
	height: 75px;
	padding: 10px 0;
}	
	.b-header__content{
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		position: relative;
		height: 55px;
	}
	.b-header__logo__img{
		height: 3em;
		margin-right: 15px;
	}

	.b-header__navForPC{
		font-size: .87em;
		font-weight: bold;
		width: 85%;
		display: flex;
		align-items: center;
		justify-content: space-between;

	}
	.b-header__navForTableAndMob{
		display: none;
		position: absolute;
		background: #fff;
		top: 45px;
		right: 10px;	
	}
		.b-header__navForTableAndMob__menuToggle{
			color: #375262;
			display: block;
			cursor: pointer;
			position: absolute;
			top: -40px;
			right: 0px;
			width: 32px;
			height: 32px;
			background: url("Img/toggleMenu.svg") no-repeat center;
		}
			#menuToggle{
				display: none;
			}
			#menuToggle:checked+.b-header__navForTableAndMob__list{
				display: block;
			}
			.b-header__navForTableAndMob__list{
				display: none;
			}
			.b-header__navForTableAndMob__list__link:link, .b-header__navForTableAndMob__list__link:visited{
				text-decoration: none;
				color: #375262;
				font-size: 1.2em;
				display: block;
				padding: 10px;
			}
			.b-header__navForTableAndMob__list__link:hover{
				background: #cecece;
			}

		.b-header__navForPC__newBuid:link, .b-header__navForPC__newBuid:visited{
			text-decoration: none;
			color: #375262;
		}
				.b-header__navForPC__newBuid:hover{
					text-decoration: underline;
				}
			.b-header__navForPC__secondProp{
				margin-right: 40%;
			}

			.b-header__navForPC__secondProp:link, .b-header__navForPC__secondProp:visited{
				text-decoration: none;
				color: #375262;
				text-align: center;
			}
				.b-header__navForPC__secondProp:hover{
					text-decoration: underline;
				}
			.b-header__navForPC__enter:link, .b-header__navForPC__enter:visited {	
				text-decoration: none;
				color: #425361;
				border-left: 1px solid #F5F5F5;
				padding: 20px 0px;
				width: 12%;
				text-align: center;
				
			}
				.b-header__navForPC__enter:hover{
					text-decoration: underline;
				}

			.b-header__navForPC__adsBtn{
				width: 17%;
				height: 40px;
				border:none;
				font-weight: bold;
				border-radius: 5px;
				color: #fff;
				background: #0AC59B;
				cursor: pointer;
			}
				.b-header__navForPC__adsBtn:hover{
					background: #057255;
				}
			
.b-siteFace{
	background: url("Img/face.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}	
	.b-siteFace__title{
		color: #fff;
		margin: 0px auto;
		padding: 225px 0px 50px;
		font-size: 3.7em;
		font-weight: bold;
	}
	.b-siteFace__subTitle{
		color: #fff;
		font-size: 1.625em;
		padding-bottom: 80px;
	}
	.b-searching{
		max-width: 1160px;
		padding: 20px;
		font-size: 1.12em;
		margin: 0px auto;
		display: flex;
		background: rgba(0, 0, 0, .3);
		border-radius: 15px;
		justify-content: space-between;

	}
		.b-searching__appartment{
			margin: 0;
			padding: 0;
			position: relative;
			width: 45%;
			border-radius: 5px;
			overflow: hidden;
			padding-left: 60px;
		}
		.b-searching__appartment:before{
			content: url("Img/location.svg");
			height: 60px;
			width: 60px;
			box-sizing: border-box;
			padding: 16px 20px 15px;
			background: #fff;
			position: absolute;
			left: 0px;
		}
			.b-searching__appartment-input{
				height: 58px;
				width: 100%;
				outline: none;
				border: none;
				font-size: 1.125em;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #425361;

			}

		.b-searching__selectorSale, .b-searching__selectorAppartment{
			height: 60px;		
			width: 15%;	
			background: #fff;
			box-sizing: border-box;
			text-align: left;
			padding: 20px;
			border-radius: 5px;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #425361;
		}

			.b-searching__selectorSale:after, .b-searching__selectorAppartment:after{
				content: url("Img/bracket.svg");
				position: absolute;
				width: 15px;
				right: 10px;
				top: 20px;
				cursor: pointer;
				box-sizing: border-box;
				padding: 0 2px;

			}

		.b-searching__searchBtn{
			width: 15%;
			background: #FFAB46;
			border:none;
			height: 60px;
			color: #fff;
			border-radius: 5px;
			position: relative;
			cursor: pointer;
			font-size: 1.12em;
			font-weight: bold;

		}
			.b-searching__searchBtn:hover{
				background: #BA6A13;
			}
			
		.b-searching__searchBtn:before{
			content: url("Img/search.svg");
			float: left;
			height: 20px;
			width: 20px;
			position: absolute;
			top: 20px;
			left: 15px;
		}

	.b-siteFace__sliderSwitchers{
		margin: 40px auto 0;
		padding-bottom: 40px;
		font-size: .7em;

	}
		.b-siteFace__sliderSwitchers__switcher{
			height: 1em;
			width: 1em;
			border-radius: 50%;
			display: inline-block;
			margin: 0 .5em;
			background: #BFBFBF;
			cursor: pointer;
		}
		.b-siteFace__sliderSwitchers__switcher-active{
			background: #fff;
		}	

.b-main{	
	margin: 60px auto 0;
	position: relative;
}
	.m-main-withBorder{
		border-bottom: 1px solid #D8E0E6;
	}

.b-main__articleTitle{
	font-size: 2em;
	color: #0080C5;
	margin-bottom: 20px;
}
	.b-main__articleTitle-center{
		text-align: center;
	}
.b-main__subArticleTitle{
	font-size: 1.25em;
	color: #425361;
}

.b-main__search{
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: .87em;
	font-weight: bold;
	color: #8596A4;
	border-radius: 5px;
	border: 1px solid #8596A4;
	width: 20%;
	height: 40px;
	text-align: center;
	padding: 12px 40px 10px;
	position: absolute;
	overflow: hidden;
	top: 0px;
	right: 10px;
	box-sizing: border-box;
}

	.b-main__search:before{
		content: url("Img/location.svg");
		height: 40px;
		width: 20px;
		padding: 8px 2px 0;
		position: absolute;
		top: 0px;
		left: 10px;
		box-sizing: border-box;
	}
	.b-main__search:after{
		content: url("Img/bracket.svg");
		position: absolute;
		right: 10px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		box-sizing: border-box;
		padding: 0 2px;
	}
.b-main__leftPart{
	width: 50%;
	float: left;
}
.b-main__rightPart{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}
	.b-main__rightPart>.b-apartment{
		width: 46%;
		margin-left: 4%;
	}
	.b-apartment{
		margin-top: 20px;
		box-sizing: border-box;
		position: relative;
	}	
		.b-apartment__img{
			width: 100%;
			cursor: pointer;
		}
			.b-apartment__l-wrapper__forImg{
				width: 100%;
				position: relative;
			}
				.b-apartment__moreDiscounts{
					width: 100%;
					margin: 0 auto;
					position: absolute;
					bottom: 0px;
					background: linear-gradient(to top, rgba(17, 22, 26, 1) 0%, rgba(17, 22, 26, 0) 100%);
				}
				.b-apartment__moreDiscounts__title{
					text-align: center;
					font-size: 1.6em;
					color: #FFAB46;
					font-weight: bold;
					margin: 5px;
				}
				.b-apartment__moreDiscounts__subTitle{
					text-align: center;
					font-size: 1.25em;
					color: #F0F4F6;
					margin: 5px;
					padding-bottom: 25px;
				}	
		.b-apartment__description{
			margin: 0px 0px 7px;
			font-weight: bold;
			color: #0080C5;
			line-height: 1.25em; 
		}
			.m-apartment__description-large{
				font-size: 1.2em;
				margin-top: 30px;
			}
			.m-apartment__description-small{
				margin-top: 20px;
				font-size: 1em;
			}
		.b-apartment__price{
			margin: 7px 0px;
			font-weight: bold;
			color: #FF8701;
		}
			.m-apartment__price-large{
				font-size: 1.25em;
			}
			.m-apartment__price-small{
				font-size: 1em;
			}
		.b-apartment__square{
			margin: 7px 0px;		
			color: #425361;
		}
			.m-apartment__square-large{
				font-size: 1.25em;
			}
			.m-apartment__square-medium{
				font-size: .87em;
			}
			.m-apartment__square-small{
				font-size: .75em;
			}
		.b-apartment__street{
			margin: 7px 0px;
			color: #425361;
			line-height: 1.25em;
		}
			.m-apartment__street-large{
				font-size: .87em;
			}
			.m-apartment__street-small{
				font-size: .75em;
			}
		.m-apartment-discount:before{
			content: "акция!";
			text-transform: uppercase;
			font-size: .7em;
			color: #fff;
			font-weight: bold;
			display: block;
			position: absolute;
			right: 0;
			padding: 10px 15px;
			border-radius: 0px 0px 0px 15px;
			background: #FD5252;
			z-index: 995;
		}

.b-main__link:link, .b-main__link:visited{
	text-decoration: none;
	font-size: .87em;
	text-align: center;
	display: block;
	font-weight: bold;
	color: #006AA5;
	border: 1px solid #C2D0DC;
	border-radius: 5px;
	background: #fff;
	margin: 40px auto 50px;
	box-sizing: border-box;
	padding: 12px 0;
}
	.m-main__link-AllNewBild{
		max-width: 320px;
	}
	.b-main__link:hover{
		text-decoration: underline;
	}

.l-forApartments{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

	.l-forApartments>.b-apartment{
		width: 23%;
	}

.m-main__link-toAds{
	max-width: 275px;
}	
.b-postAd{
	width: 100%;
	border: 1px solid #C2D0DC;
	border-radius: 10px;
	margin: 0px auto 95px;
	background: url("Img/post_ad.png") no-repeat;
	background-position: 75%;
}
	.b-postAd-l-wrapper{
		width: 55%;
		margin: 0px;
	}
		.b-postAd__question{
			color: #006AA5;
			font-size: 2em;
			margin: 90px 0px 30px 80px;
		}
		.b-postAd__postAdBtn{
			color: #fff;
			font-size: 1em;
			font-weight: bold; 
			background: #FFAB46;
			border: none;
			outline: none;
			padding: 20px 55px;
			border-radius: 5px;
			margin: 0px 0px 60px 80px;
			cursor: pointer;
		}
			.b-postAd__postAdBtn:hover{
				background: #BA6A13;
			}

.b-ourBlog{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 40px auto;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.b-ourBlog__block{
		width: 32%;
		padding: 20px;
		box-sizing: border-box;
		border-radius: 15px;
		position: relative;
	}
	.b-ourBlog__block:after{
		content: "";
		position: absolute;
		bottom: -34px;
		left: 35px;
		border: 17px solid transparent;
		z-index: -5;
	}
	.m-ourBlog__block-left{
		background: rgba(35, 158, 237, .2);
	}
	.m-ourBlog__block-left:after{
		border-left: 17px solid  rgba(35, 158, 237, .2);
		border-top: 17px solid  rgba(35, 158, 237, .2);
	}
	.m-ourBlog__block-center{
		background: rgba(255, 171, 70, .2);
	}
	.m-ourBlog__block-center:after{
		border-left: 17px solid  rgba(255, 171, 70, .2);
		border-top: 17px solid  rgba(255, 171, 70, .2);
	}
	.m-ourBlog__block-right{
		background: rgba(88, 214, 178, .2);
	}
	.m-ourBlog__block-right:after{
		border-left: 17px solid  rgba(88, 214, 178, .2);
		border-top: 17px solid  rgba(88, 214, 178, .2);
	}
		
		.b-ourBlog__block__head{
			font-size: 1.25em;
			margin: 0px 0px 20px 0px;
			color: #0080C5;
			line-height: 25px;
		}
		.b-ourBlog__block__date{
			font-size: .75em;
			color: #425361;
			border-radius: 10px;
			padding: 3px 9px;
			line-height: 1.5em;
		}
			.m-ourBlog__block__date-left{
				background: rgba(35, 158, 237, .3);
			}
			.m-ourBlog__block__date-center{
				background: rgba(255, 171, 70, .3);
			}
			.m-ourBlog__block__date-right{
				background: rgba(88, 214, 178, .3);
			}
		.b-ourBlog__block__property{
			font-size: .75em;
			color: #425361;
			line-height: 25px;
		}
		.b-ourBlog__block__inform{
			font-size: .87em;
			color: #425361;
			line-height: 1.25em;
		}
	
	.b-main__referens:link, .b-main__referens:visited{
		display: block;
		margin: 30px auto;
		padding-bottom: 2px;
		font-size: .87em;
		color: #0080C5;
		text-decoration: none;
		border-bottom: 1px solid #0080C5;
		text-align: center;
	}
	.b-main__referens:hover{
		color: #000;
		border-color: #000;
	}
		.m-main__forReferens-toBlog{
			max-width: 106px;
			margin: 40px auto 60px;
		}
		.m-main__referens__forReferens-toArticle{
			max-width: 169px;
			margin-bottom: 60px;
		}

.b-aboutUs{
	width: 70%;
	margin: 30px auto;
}
	.b-aboutUs__description{
		font-size: 1.5em;
		color: #425361;
		text-align: center;
		line-height: 1.87em;
	}
	.b-aboutUs__capital{
		font-size: .87em;
		color: #6D7B84;
		text-align: center;
		margin: 40px auto 50px;
	}
	.b-aboutUs__sliderSwitchers{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0px auto;
		font-size: .6em;
	}

	.b-aboutUs__sliderSwitchers__switcher{
		height: .6em;
		width: .6em;
		margin: 0 5px;
		background: rgba(66, 83, 97, .3);
		border-radius: 50%;
		cursor: pointer;
	}
		.m-aboutUs__sliderSwitchers__switcher-active{
			background: rgba(66, 83, 97, 1);
		}

.b-articles{
	margin: 0px auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.b-articles{
	display: flex;
	flex-wrap: wrap;	
	margin-bottom: 60px;
}
	.b-articles__link{
		display: block;
		width: 15%;
		height: 5.6em;
		transition: transform .5s;
	}
	.b-articles__link:hover{
		transform: rotate(10deg);
	}
		.m-articles__link-capital{
			background: url(Img/capital.png) no-repeat;
			background-position: center;
		}
		.m-articles__link-forbes{
			background: url(Img/forbes.png) no-repeat;
			background-position: center;
		}
		.m-articles__link-ain{
			background: url("Img/ain.png") no-repeat;
			background-position: center;
		}
		.m-articles__link-logger{
			background: url("Img/logger.png") no-repeat;
			background-position: center;
		}
		.m-articles__link-delo{
			background: url("Img/delo.png") no-repeat;
			background-position: center;
		}

.b-clientele{
	max-width: 620px;
	margin: 50px auto 60px;
	display: flex;
	padding: 0;
	border-radius: 20px;
	overflow: hidden;
	
	align-items: center;

}
	.b-clientele__radioForClient{
		display: none;
	}
	.b-clientele__client{
		padding: 20px 0;
		font-weight: bold;
		font-size: 1em;
		color: #6C8090;
		text-align: center;	
		background: #F0F4F6;
		width: 33.33333%;
		cursor: pointer;
		box-sizing: border-box;
	}
		.b-clientele__radioForClient:checked+.b-clientele__client{
			color: #fff;
			background: #FFAB46;
		}

.l-benefits{
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	.b-benefit{
		width: 22%;
	}
		.m-benefit-inform{
			background: url("Img/inform.png") no-repeat;
			background-position: top left;
		}
		.m-benefit-search{
			background: url("Img/search.png") no-repeat;
			background-position: top left;
		}
		.m-benefit-phone{
			background: url("Img/phone.png") no-repeat;
			background-position: top left;
		}
		.m-benefit-choose{
			background: url("Img/choose.png") no-repeat;
			background-position: top left;
		}
		.b-benefit__name{
			color: #0080C5;
			font-size: 1em;
			font-weight: bold;
			margin: 125px 0 10px;
		}
		.b-benefit__descriction{
			color: #425361;
			font-size: 1em;
			line-height: 1.5em;		
		}
.b-main__titleText-center{
	margin-top: 80px;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	}
.b-searchingAppartment{
		margin: 20px auto 80px;	
		position: relative;
		max-width: 460px;
		box-sizing: border-box;
		border: 1px solid #C2D0DC;
		border-radius: 15px;
		overflow: hidden;
		padding-right: 20px;			
		color: #8596A4;
	}
		.b-searchingAppartment-input{
			width: 85%;
			height: 60px;
			font-size: 1em;
			outline: none;
			margin-left: 60px;
			border:none;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #8596A4;

		}
		.b-searchingAppartment:before{
			content: url("Img/location.svg");
			height: 60px;
			width: 60px;
			box-sizing: border-box;
			padding: 17px 20px 15px;
			background: #fff;
			position: absolute;
			left: 0px;
			z-index: -5;
		}
.b-footer{
	background: #375262;
	padding: 40px;
}
.b-footer>.L-wrapper__content{
	display: flex;
	flex-wrap: wrap;
}
	.b-footer__leftPart{
		width: 40%;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
	}
		.b-footer__leftPart__left{
			width: 50%;
		}
		.b-footer__leftPart__right{
			width: 50%;	
		}
		.b-footer__leftPart__title{
			color: #D7DFE5;
			font-size: 1em;
			font-weight: bold;
			display: block;
			margin: 0 25px 15px 0;

		}
			.m-footer__leftPart__title-separator{
				margin-top:30px;
			}
		.b-footer__list__li{
			display: block;
			padding: 10px 0;
		}

		.b-footer__list__ref:link, .b-footer__list__ref:visited{
			color: #C1CFDB;
			text-decoration: none;		
		}
		.b-footer__list__ref:hover{
			color: #000;
		}
			.m-footer__list__ref-leftP{			
				font-size: .87em;
			}
	.b-footer__rightPart{
		width: 60%;
		padding-left: 60px;
		box-sizing: border-box;
		border-left: 1px solid #688496;
	}
		.b-footer__rightPart__head{
			font-size: 1em;
			font-weight: bold;
			color: #D7DFE5;
			margin: 0px 0px 20px;
		}
			.m-footer__list__ref-rightP{
				font-size: .75em;
				line-height: 2em;
			}
			.m-footer__list__ref-rightP:not(:first-of-type):before{
				content: " | ";
			}
			.m-footer__list__ref-rightP:hover+.m-footer__list__ref-rightP:before{
				color: #000;
			}
		.b-footer__rightPart_span1, .b-footer__rightPart_span2{
			font-size: .87em;
		}
		.b-footer__rightPart_owner{
			color: #8495A3;
			font-size: .87em;
			margin: 20px 5px 20px 50px;
			display: inline-block;
			position: relative;
		}
		.b-footer__rightPart_owner:before{
			content: " ";
			height: 39px;
			width: 45px;
			position: absolute;
			display: inline-block;
			background: url("Img/footerEmblem.png") no-repeat;
			left: -50px;
			top: -10px;
		}
		.b-footer__rightPart_span2, .b-footer__rightPart_span3{
			color: #C1CFDB;
		}
		.m-footer__list__ref-rightFoot{
			font-size: .87em;
			color: #C1CFDB;
			margin-right: 5px;
		}


/*****************Адаптив******************************/

@media screen and (min-width: 993px) and (max-width: 1200px){
	body{
		font-size: 16px;
	}
	.b-header__navForPC__secondProp{
		margin-right: 20%;
	}
	.b-articles__link{
		width: 32%;
	}
		.m-main__forReferens-toBlog{
			max-width: 106px;
		}
		.m-main__referens__forReferens-toArticle{
			max-width: 168px;
		}
	

}
@media screen and (min-width: 769px) and (max-width: 992px){
	body{
		font-size: 15px;
	}	
	.b-header__navForPC__secondProp{
		margin-right: 10%;
	}
	.b-articles__link{
		width: 32%;
	}
	.b-searching{
		flex-wrap: wrap;
	}
		.b-searching__appartment{
			margin: 0px 0px 20px;
			width: 100%;
		}
		.b-searching__selectorAppartment, .b-searching__searchBtn, .b-searching__selectorSale{
			width: 32%;
		}
	.b-postAd{
		background-position: 85%;
		background-size: 15%;	
	}
		.b-postAd__question{
			margin: 70px 0px 25px 60px;
		}
		.b-postAd__postAdBtn{
			padding: 15px 45px;
			margin: 0px 0px 50px 60px;
		}	
			.m-main__forReferens-toBlog{
				max-width: 99px;
			}
			.m-main__referens__forReferens-toArticle{
				max-width: 157px;
			}
}
@media screen and (min-width: 481px) and (max-width: 768px){
	body{
		font-size: 14px;
	}
	.b-header{
		height: 55px;
	}
		.b-header__content{
			height: 35px;
		}
		.b-header__navForPC{
			display: none;
		}
		.b-header__navForTableAndMob{
			display: block;
		}
	.b-searching{
		flex-wrap: wrap;
	}
		.b-searching__appartment{
			margin: 0px 0px 20px;
			width: 100%;
		}
		.b-searching__selectorAppartment, .b-searching__searchBtn, .b-searching__selectorSale{
			width: 32%;
		}
	.b-main__search{
		position: relative;
		display: block;
		width: 200px;
		margin: 10px;
	}
	.b-main__leftPart{
		width: 100%;
		float: none;
	}
	.b-main__rightPart{
		width: 100%;
		justify-content: space-between;
	}
		.b-main__rightPart>.b-apartment{
			width: 49%;
			margin: 0px;
		}
		.m-apartment-discount:before{
			padding: 8px 12px;
		}

	.l-forApartments>.b-apartment{
		width: 49%;
	}	
	.b-articles__link{
		width: 49%;
	}
	.b-postAd{	
		background-size: 20%;		
		background-position: 90%;
	}
		.b-postAd__question{
			margin: 50px 0px 15px 45px;
		}
		.b-postAd__postAdBtn{
			padding: 10px 35px;
			margin: 0px 0px 40px 45px;
		}
	.b-ourBlog__block{
		width: 49%;
		margin: 20px auto;
	}
			.m-main__forReferens-toBlog{
				max-width: 92px;
			}
			.m-main__referens__forReferens-toArticle{
				max-width: 147px;
			}

	.b-benefit{
		width: 48%;
		margin-top: 10px;
	}
	.b-footer{
		padding: 30px;
	}
		.b-footer__leftPart{
			width: 100%;
		}
			.b-footer__list__li{
				padding: 7px 0;
			}
			.m-footer__leftPart__title-separator{
				width: 100%;
			}
		.b-footer__rightPart{
			margin-top: 20px;
			width: 100%;
			border: none;
			padding: 0px;
		}
}
@media screen and (min-width: 321px) and (max-width: 480px){
	body{
		font-size: 12px;
	}
	.b-header{
		height: 55px;
	}
		.b-header__content{
			height: 35px;
		}
		.b-header__navForPC{
			display: none;
		}
		.b-header__navForTableAndMob{
			display: block;
		}
	
	.b-searching{
		flex-wrap: wrap;
	}
		.b-searching__appartment{
			margin: 0px 0px 20px;
			width: 100%;
		}
		.b-searching__selectorAppartment, .b-searching__selectorSale{
			width: 48%;
			margin-bottom: 20px;
			padding-top: 22px;
		}
		.b-searching__searchBtn{
			width: 100%;
		}
	.b-main__search{
		position: relative;
		display: block;
		width: 200px;
		margin: 10px;
	}
	.b-main__leftPart{
		width: 100%;
		float: none;
	}
	.b-main__rightPart{
		width: 100%;
		justify-content: space-between;
	}
		.b-main__rightPart>.b-apartment{
			width: 49%;
			margin: 0px;
		}
		.m-apartment-discount:before{
			padding: 7px 11px;
		}
	.l-forApartments>.b-apartment{
		width: 49%;

	}	
	.b-articles__link{
		width: 100%;
	}
	.b-postAd{	
		background-size: 20%;	
		background-position: 95%;
	}
		.b-postAd__question{
			margin: 40px 0px 10px 30px;
		}
		.b-postAd__postAdBtn{
			padding: 7px 25px;
			margin: 0px 0px 20px 30px;
		}
	.b-ourBlog__block{
		width: 100%;
		margin: 20px auto;
	}
		.b-ourBlog__block__head{
			margin-bottom: 5px;
		}
			.m-main__forReferens-toBlog{
				max-width: 79px;
			}
			.m-main__referens__forReferens-toArticle{
				max-width: 126px;
			}	
	.b-benefit{
		width: 48%;
		margin-top: 10px;
	}

	.b-footer{
		padding: 20px;
	}
		.b-footer__leftPart{
			width: 100%;
		}
			.b-footer__list__li{
				padding: 5px 0;
			}
			.m-footer__leftPart__title-separator{
				width: 100%;
			}
		.b-footer__rightPart{
			margin-top: 15px;
			width: 100%;
			border: none;
			padding: 0px;
		}
		.b-footer__rightPart__head{
			margin: 0px 0px 10px;
		}
}
@media screen and (min-width: 0px) and (max-width: 320px){
	body{
		font-size: 10px;
	}
	.b-header{
		height: 55px;
	}
		.b-header__content{
			height: 35px;
		}
		.b-header__navForPC{
			display: none;
		}
		.b-header__navForTableAndMob{
			display: block;
		}
	
		.b-searching{
			flex-wrap: wrap;
		}
			.b-searching__appartment{
				margin: 0px 0px 20px;
				width: 100%;
			}
			.b-searching__selectorAppartment, .b-searching__selectorSale{
				width: 48%;
				margin-bottom: 20px;
				padding-top: 22px;
			}
			.b-searching__searchBtn{
				width: 100%;
			}
	.b-main__search{
		position: relative;
		display: block;
		width: 200px;
		margin: 10px;
	}
	.b-main__leftPart{
		width: 100%;
		float: none;
	}
	.b-main__rightPart{
		width: 100%;
		justify-content: space-between;
	}
		.b-main__rightPart>.b-apartment{
			width: 49%;
			margin: 0px;
		}
		.m-apartment-discount:before{
			padding: 6px 10px;
		}

	.l-forApartments>.b-apartment{
		width: 49%;
	}
	.b-articles__link{
		width: 100%;
	}
	.b-postAd{	
		background-size: 20%;	
		background-position: 95%;
	}
		.b-postAd__question{
			margin: 40px 0px 10px 20px;
		}
		.b-postAd__postAdBtn{
			padding: 5px 15px;
			margin: 0px 0px 20px 20px;
		}	
	.b-ourBlog__block{
		width: 100%;
		margin: 20px auto;
	}
		.b-ourBlog__block__head{
			margin-bottom: 5px;
		}
			.m-main__forReferens-toBlog{
				max-width: 67px;
			}
			.m-main__referens__forReferens-toArticle{
				max-width: 105px;
			}	
	.b-benefit{
		width: 100%;
		margin-top: 10px;
	}	

	.b-footer{
		padding: 10px;
	}
		.b-footer__leftPart{
			width: 100%;
		}
			.b-footer__list__li{
				padding: 5px 0;
			}
			.m-footer__leftPart__title-separator{
				width: 100%;
			}
		.b-footer__rightPart{
			margin-top: 10px;
			width: 100%;
			border: none;
			padding: 0px;
		}		
		.b-footer__rightPart__head{
			margin: 0px 0px 10px;
		}
}